:root{
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6d6d6d;
    --white: #FFFFFF;

    /* spacing */
    --space-300: 24px;
    --space-150: 12px;
    --space-100: 8px;
    --space-50: 4px;

}

@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree-VariableFont_wght.ttf')format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
}

.text-preset-1 {
    font-family: 'Figtree', sans-serif;
    font-size: 24px;
    font-weight: 800;  /* Extra Bold */
    line-height: 150%;
    letter-spacing: 0px;
}

.text-preset-2 {
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: 500;  /* Medium */
    line-height: 150%;
    letter-spacing: 0px;
}

.text-preset-3 {
    font-family: 'Figtree', sans-serif;
    font-size: 14px;
    font-weight: 500;  /* Medium */
    line-height: 150%;
    letter-spacing: 0px;
}

.text-preset-3-bold {
    font-family: 'Figtree', sans-serif;
    font-size: 14px;
    font-weight: 800;  /* Extra Bold */
    line-height: 150%;
    letter-spacing: 0px;
}

*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--yellow);
    display: grid;
    justify-content: center;
    place-items: center;
    height: 100vh;
    font: var(--text-preset-2);
}

.blog-container {
    width: max(24%, 24rem);
    border-radius: 20px;
    border: var(--gray-950) 1px solid;
    box-shadow: 10px 10px 0px var(--gray-950);
    background-color: var(--white);
    padding: var(--space-300);
}

.card-image img {
    display: block;
    max-width: 100%;
    margin:auto;
    border-radius: 10px;
}


.card {
    text-align: center;
    gap: var(--space-150);
    
}

.card h1 {
    font-weight: extra-bold;
    line-height: 1.5;
    font-size: 24px;
}


