:root{
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6d6d6d;
    --white: #FFFFFF;

    /* spacing */
    --space-300: 24px;
    --space-150: 12px;
    --space-100: 8px;
    --space-50: 4px;

}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/static/Figtree-Medium.ttf') format('truetype');
    font-weight: 500;  /* Medium */
}

@font-face {
    font-family: 'Figtree';
    src: url('../assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800;  /* Extra Bold */
}

.text-preset-1 {
    font-family: 'Figtree', serif;
    font-size: 24px;
    font-weight: 800;  /* Extra Bold */
    line-height: 150%;
    letter-spacing: 0px;
}

.text-preset-2 {
    font-family: 'Figtree', serif;
    font-size: 16px;
    font-weight: 500;  /* Medium */
    line-height: 150%;
    letter-spacing: 0px;
}

.text-preset-3 {
    font-family: 'Figtree', serif;
    font-size: 14px;
    font-weight: 500;  /* Medium */
    line-height: 150%;
    letter-spacing: 0px;
}

.text-preset-3-bold {
    font-family: 'Figtree', serif;
    font-size: 14px;
    font-weight: 800;  /* Extra Bold */
    line-height: 150%;
    letter-spacing: 0px;
}

*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--yellow);
    font: var(--text-preset-2);
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.blog-container {
    display: flex;
    flex-direction: column;
    width: 384px;
    max-width: 90%;
    border-radius: 20px;
    border: var(--gray-950) 1px solid;
    box-shadow: 10px 10px 0px var(--gray-950);
    background-color: var(--white);
    padding: var(--space-300);
    gap: var(--space-300);
}

.card-image img {
    display: block;
    max-width: 100%;
    margin:auto;
    border-radius: 10px;
}


.card {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: var(--space-150);
    
}

.card h1 {
    font-weight: extra-bold;
    line-height: 1.5;
    font-size: 24px;
}

.card h1:hover {
    color: var(--yellow);
    cursor: pointer;
}

.card h3{
    padding:  var(--space-50) var(--space-150); /* top/bottom right/left */
    background-color: var(--yellow);
    border-radius: 4px;
    width: fit-content;
}

.card p {
    color: var(--gray-500);
}

.blog-author {
    display: flex;
    align-items: center;
    gap: var(--space-100);
    padding-top: var(--space-150);
}

.author-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.blog-author p{
    color: var(--gray-950);
}


@media (max-width: 375px) {
    .blog-container {
        width: 327px;
    }

    .card h1 {
        font-size: 20px;
    }

    .card p {
        font-size: 14px;
    }

    .card h3, .card h2 {
        font-size: 12px;
    }
    
}

